ul {
	list-style-type: none;
	margin: 30px;
	padding: 0;
	}

li {
	display: inline;
	}

.center {
	display: block;
	margin-left: auto;
	margin-top: 150px;
	margin-right: auto;
	margin-bottom: 10px;
	width: 14.5%;
	}
	
form {
	text-align: center;
	}
	
input {
	width: 29%;
	padding: 15px;
	border-radius: 50px;
	border: 1px #dddddd solid;
	margin-bottom: 30px;
	}
	
#submit {
	width :7%;
	padding: 0.75em;
	border-radius: 5px;
	font-size: 20px;
	}
